<!DOCTYPE html>
<html>

<head>
  <title>Proveedores</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <script src="/js/sidebar.js"></script>
</head>

<body>
  <div class="flex h-screen bg-gray-100">
    <%- include('components/sidebar', {username:user.username}) %>
    
    <div class="flex-1 flex flex-col overflow-hidden">
      <!-- Top Navigation -->
      <%- include('components/top-navigation') %>
      
      <!-- Main Content -->
      <main class="flex-1 overflow-y-auto bg-gray-100 p-4 md:p-6">
        <%- include('components/brands-screen') %>
      </main>
    </div>
  </div>
  <script src="/js/brands.js"></script>
</body>