<div class="bg-white shadow-sm z-10">
  <div class="flex items-center justify-between h-16 px-4 md:px-6">
    <div class="flex items-center">
      <button onclick="toggleSidebar()" class="md:hidden p-2 rounded-md text-gray-600 hover:text-gray-900 hover:bg-gray-100 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-6"><path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/></svg>
      </button>
      <!-- <div class="hidden md:flex md:items-center ml-4">
        <div class="relative md:w-64">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <i class="fas fa-search h-5 w-5 text-gray-400"></i>
          </div>
          <input type="text" class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-red-800 focus:border-red-800 sm:text-sm" placeholder="Search..." />
        </div>
      </div> -->
    </div>
    <!-- <div class="flex items-center">
      <button class="flex-shrink-0 p-1 rounded-full text-gray-600 hover:text-gray-900 focus:outline-none">
        <i class="fas fa-bell h-6 w-6"></i>
      </button>
      <div class="ml-3 relative">
        <div class="flex items-center">
          <span class="inline-flex rounded-md">
            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-800">
              <span class="mr-1">My Shop</span>
              <i class="fas fa-chevron-down h-4 w-4"></i>
            </button>
          </span>
        </div>
      </div>
    </div> -->
  </div>
</div>